<div class="detail-bullentin-board-post-comments-container">
    <div class="infor-user">
        <div style="width: 100%; display: flex;margin-bottom: 10px; margin-top: 20px;">
            <img src="../../assets/images/default-image.jpg">
            <div style="display: block;">
                <div style="display: flex;">
                    <p><b>Skid_hollow </b> </p><p> - Master teller</p>
                </div>
                <p>COmment z đó. Chịu hông chịu thì thoai</p>
            </div>
        </div>
        <div style="width: 100%; display: flex;margin-bottom: 10px; margin-top: 10px;">
            <img src="../../assets/images/default-image.jpg">
            <div style="display: block;">
                <div style="display: flex;">
                    <p><b>Trí Đức </b> </p><p> - Master teller</p>
                </div>
                <p>I dont like this </p>
            </div>
        </div>
    </div>

</div>