.part-two{
    width: 810px;
    height: 100px;
    padding: 10px;
    margin-left: 101px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.form-search {
    margin-top: 0px;
    width: 100%;
    margin-bottom: 0px;
  }
.example-full-width {
    margin-top: 0px;
    width: 100%;
    margin-bottom: 0px;
}
.example-full-width mat-label{
}
.example-full-width input{
}
.part-one{
    margin-top: 0px;
    width: 20%;
    margin-bottom: 0px;
}