<div class="container">
  <div class="part-one">
  
        <!-- Hiển thị logo con -->
    <img src="">
  </div>
  <div class="part-two">
        <mat-card-content>
          <form class="form-search">
            <mat-form-field class="example-full-width">
              <mat-label><mat-icon>search</mat-icon>Searching for some content in here... </mat-label>
              <input matInput  >
            </mat-form-field>
        </form>   
        </mat-card-content>
  </div>
  <div class="part-three">
    <div class="icon-group">
      <mat-icon> forum</mat-icon><mat-icon>notification_important</mat-icon><mat-icon > person_pin</mat-icon><mat-icon>settings</mat-icon>

    </div>
  </div>
</div>