<div class="container">
  <div class="part-one">
  
        <!-- Hiển thị logo con -->
  <a href="http://localhost:4200/index"> <img src="../../assets/images/logo.png" style="padding: 10px ; margin-left: 60px;" width="50%" ></a>
  </div>
  <div class="part-two">
        <mat-card-content>
          <form class="form-search">
            <mat-form-field class="example-full-width">
              <mat-label><mat-icon>search</mat-icon>Searching for some content in here... </mat-label>
              <input matInput  >
            </mat-form-field>
        </form>   
        </mat-card-content>
  </div>
  <div class="part-three">
    <div class="icon-group">
      <button mat-raised-button *ngIf="!showProfile" routerLink="/login" style="width: 100px;">
        Sign in
        <mat-icon  inline=true>  keyboard_tab</mat-icon>
      </button>

      <button *ngIf="showProfile"  mat-icon-button [matMenuTriggerFor]="notification" aria-label="Example icon-button with a menu">
        <mat-icon style="margin:auto">notifications_active</mat-icon>
      </button>
      <mat-menu #notification="matMenu">
        <button mat-menu-item>
         <label>abc@gmail đã comment vào bài viết...</label>
        </button>
      </mat-menu>


      <button *ngIf="showProfile"  mat-icon-button [matMenuTriggerFor]="profile" aria-label="Example icon-button with a menu">
        <mat-icon style="margin:auto">person_pin</mat-icon>
      </button>
      <mat-menu #profile="matMenu">
        <p style="padding: 10px;">Hello <b> {{userName}}</b></p>
        <button mat-raised-button>
          <img  src="https://scontent-hkg4-1.xx.fbcdn.net/v/t1.0-1/s320x320/117445227_1606144752900208_3878085912739183314_o.jpg?_nc_cat=106&ccb=2&_nc_sid=7206a8&_nc_ohc=aV9uig2vSG8AX96GInn&_nc_ht=scontent-hkg4-1.xx&tp=7&oh=cd7f4545d3462db6e3d2c3fbb79cd10f&oe=5FBE5E98" width="150px">
        </button>
        <button mat-menu-item>
          <mat-icon>perm_identity</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item >
          <mat-icon>settings</mat-icon>
          <span>Setting</span>
        </button>
        <button mat-menu-item  routerLink="/login">
          <mat-icon>arrow_forward</mat-icon>
          <span>Log out</span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>