<!-- 
  <app-header></app-header>
  <div> 
      <mat-card class="example-card">
           <div class="container">
            <mat-card class="group-user" >
              <a>
                  <span class="textColor">USA-User</span>
                  <br>    
                  <span>
                      level
                      <br>
                      <span  >6,920</span>
                  </span>
                  <span>
                    <img class="imgHinh" src="https://www.userbenchmark.com/resources/img/guest.png?s=40" >
                </span>
              </a>
            </mat-card>
            <mat-card>
              <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
              </p>
              <img class="img-card" mat-card-image  src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
              </mat-card>
           </div>
            <mat-card-actions>
          
           <div class="group-button-action">        
            <button class="tooltip" mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
              <mat-icon *ngIf="stateLike==false" color="primary" (click)="changeStateLike()">favorite</mat-icon> 
              <span *ngIf="stateLike==false" class="tooltiptext">Like</span>
              <mat-icon *ngIf="stateLike==true" (click)="changeStateLike()">favorite</mat-icon>
             
              <span *ngIf="stateLike==true" class="tooltiptext">DisLike</span>
            </button>
  
            <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon" >
              <mat-icon (click)="changeState();" color="primary">  chat</mat-icon>
            </button>
            
  
          </div>
            </mat-card-actions>   
            
      </mat-card>
      <div class="edit" *ngIf="isShowForm">
          <ckeditor [editor]="Editor" [config]="{ toolbar: [ 'heading', '|', 'bold', 'italic','bulletedList', 'numberedList', 'blockQuote']}"></ckeditor>
          <div class=" location">
        
            <button mat-raised-button (click)="isShowForm=!isShowForm" type="submit" value="submit" color="primary">Submit</button>
  
          </div>
      </div>
  </div>
  
  
    <div class="edit1">
      <h2>Comment:</h2>
      <ckeditor [editor]="Editor" [config]="{ toolbar: [ 'heading', '|', 'bold', 'italic','bulletedList', 'numberedList', 'blockQuote']}"></ckeditor>
      <div class=" location">
     
        <button mat-raised-button type="submit" value="submit" color="primary">Send Comment</button>
  
      </div>
    </div> -->
   

   
<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <!-- Side navigation -->
  <mat-drawer #drawer [mode]="side" class="drawer-content-showup">
      <img src="../../assets/images/landscape.jpg" width="100%">
      <ul>
          <li>Nội dung</li> 
          <li>Nội dung</li>
          <li>Nội dung</li>
          <li>Nội dung</li>
          <li>Nội dung</li>
      </ul>
  </mat-drawer>
  <!-- Content index screen -->
  <mat-drawer-content>
    <div class="app-header"> 
      <app-header></app-header>
    </div>
   
    <button mat-button (click)="drawer.toggle()" class="button-toggle-side-menu" ><mat-icon>menu</mat-icon>
    </button>
  
    <div class="container">
     
    <div class="detail-content-post">
      <mat-card>
        <h1><b>{{mainTitle}}</b></h1>
        <div style="display: flex;">
          <div style="margin-top: 10px;">
            <label>Published by <a href="#">Sơn Phan</a></label>
          </div>
        </div>
        <div style="display: flex;">
          <button mat-stroked-button style="margin-top:5px">
            <mat-icon>done</mat-icon> Follow author
          </button>
          <button mat-button style="margin-left: 600px;">
            <mat-icon>remove_red_eye</mat-icon> 14.000
          </button>
        </div>
        <br>
        <div *ngFor="let content of ContentInParts">
          <br>
          <p [innerHtml]="content.partContent"></p>
            <img src={{content.images}} width="100%">
          <br>
         
        </div>
        <div style="display: flex;">
          <button mat-button>
            <mat-icon>favorite</mat-icon> Like
          </button>
          <button mat-button>
            <mat-icon>share</mat-icon> Share
          </button>
        </div>
        </mat-card>
      <br>
      <mat-card>
        <div class="edit1">
          <h2>Comment:</h2>
          <ckeditor [editor]="Editor" [config]="{ toolbar: [ 'heading', '|', 'bold', 'italic','bulletedList', 'numberedList', 'blockQuote']}"></ckeditor>
          <div class=" location">         
            <button mat-raised-button type="submit" value="submit" color="primary">Send Comment</button>
          </div>
        </div>
      </mat-card>
      <br>
    </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>