
  .edit1{
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
  }

.example-container {
  width: 100%;
  height: 100%;
}
.container{
  width: 900px;
}
.container .button-configure-article{
  margin-left: 820px;
  position: fixed;
  margin-top: 5px;
}
mat-drawer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.button-toggle-side-menu{
  margin-top: 10px;
  position: absolute;
}
.drawer-content-showup{
  width: 20%;
  margin: auto;
}
ul li {
  list-style-type: none;
  height: 40px;
}
ul li a{
  text-decoration: none;
  color: rgb(2, 0, 138);
  font-size: 20px;
  margin-top: 10px;

}

.menu-button-action:hover{

}
.app-index-post{
width: 100%;
}
.app-header{
width: 100%;
position: relative;
}

mat-drawer-content .container{
  // background-image: url("../../assets/images/background_detail_content.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  height: 350px;
}
.detail-content-post{
  width: 60%;
  margin-left: 20%;
  margin-top: 100px;
}
.detail-content-post mat-button{
  width: auto;
}
.detail-content-post h1{
  width: 800px;
  font-size: 30px;
  font-family:  Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}
.cancel-comment-hide{
  display: none;
}
.cancel-button-comment:hover +.cancel-comment-hide{
  display: flex;
  color: red;
}
.container-article-detail img{
  margin: auto;
}
.related-article{

}
.related-article mat-card:hover{
  cursor: pointer;
  width: 300px;
  background-color: #17a2b8;
}
.related-article mat-card{
  background-color: white;
  width: 240px;
  margin-right:12px;
  margin-top:10px
}