.edit1 {
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
}

.example-container {
  width: 100%;
  height: 100%;
}
.container {
  width: 100%;
  margin: auto;
}
.mat-card-article {
  width: 100%;
}
.mat-card-comment {
  width: 100%;
}
.mat-card-hashtag {
  width: 100%;
}

.article-edit-mode :host ::ng-deep .ck-editor__editable_inline {
  min-height: 250px;
  max-height: 550px;
}

.title-article :host ::ng-deep .ck-editor__editable_inline {
  min-height: 250px;
  width: 400px;
}

mat-drawer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.button-toggle-side-menu {
  margin-top: 10px;
  position: absolute;
}

.drawer-content-showup {
  width: 20%;
  margin: auto;
}

ul li {
  list-style-type: none;
  height: 40px;
}

ul li a {
  text-decoration: none;
  color: rgb(2, 0, 138);
  font-size: 20px;
  margin-top: 10px;
}

.app-index-post {
  width: 100%;
}

.app-header {
  width: 100%;
  position: relative;
}

mat-drawer-content .container {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  height: 350px;
}

.detail-content-post {
  width: 60%;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}
.detail-content-post mat-button {
  width: auto;
}
.detail-content-post h1 {
  font-size: 30px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}
.cancel-comment-hide {
  display: none;
}
.cancel-button-comment:hover + .cancel-comment-hide {
  display: flex;
  color: red;
}
.container-article-detail img {
  margin: auto;
  max-height: 540px;
}

.choose-file {
  position: absolute;
  margin-left: 290px;
  margin-top: 270px;
  // margin: auto;
}
.choose-file::-webkit-file-upload-button {
  color: black;
  display: inline-block;
  background: white;
  border: none;
  padding: 7px 15px;
  font-weight: 700;
  border-radius: 3px;
  white-space: nowrap;
  cursor: pointer;
  font-size: 10pt;
  width: 275px;
  height: 38px;
}
.container-article-detail img {
  max-height: 540px;
}
.author-infor-display {
  margin-left: 10px;
  width: 300px;
}
.author-infor-display {
  margin-left: 10px;
}
.author-infor-display a {
  font-size: 20px;
  list-style: none;
  text-decoration: none;
  color: #0e7fe1;
}
.author-infor-display a:hover {
  cursor: pointer;
}
.btn-insert-content {
  width: 200px;
  margin: auto !important;
  padding: 5px;
  margin-top: 20px;
}
.display-comment-user :hover {
  cursor: pointer;
}
.display-comment-user {
  font-size: 20px;
  color: #3f51b5;
  text-decoration: none;
}

.loader {
  height: 20rem;
}

.spacer {
  flex: 1 auto;
}

::ng-deep .mat-toolbar {
  background-color: white !important;
}

img {
  margin: auto !important;
}
