<app-header></app-header>
<nz-spin
  class="loader"
  *ngIf="ContentInParts == null"
  nzTip="Loading..."
></nz-spin>

<div class="container" *ngIf="ContentInParts != null">
  <div class="detail-content-post">
    <mat-card
      data-aos="fade-up"
      data-aos-duration="1500"
      class="mat-card-article"
    >
      <mat-menu #configureArticle="matMenu">
        <button mat-menu-item (click)="ChangeToEditMode()">
          <mat-icon>edit</mat-icon>
          <span>Edit article</span>
        </button>
        <button mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span>Delete article</span>
        </button>
      </mat-menu>
      <h1>
        <b>{{ mainTitle }}</b>
      </h1>
      <p>
        <mat-toolbar>
          <img
            src="{{ infoAuthor.userAvatar }}"
            style="border-radius: 10%"
            width="60px"
            height="60px"
          />
          <div style="display: flex">
            <div class="author-infor-display">
              <a (click)="viewUserProfile(infoAuthor._id)"
                ><b>{{ infoAuthor.name }}</b></a
              >
              <p>Master Teller Story</p>
            </div>
          </div>
          <span class="spacer"></span>
          <button mat-icon-button (click)="SaveArticle()">
            <mat-icon *ngIf="showBookMark">bookmark_border</mat-icon>
            <mat-icon *ngIf="!showBookMark">bookmark</mat-icon>
          </button>
          <button mat-icon-button (click)="openDialog()">
            <!-- Luu bai viet -->
            <mat-icon>report_problem</mat-icon>
          </button>
          <button
            mat-icon-button
            layout-align="end-start"
            class="button-configure-article float-right"
            *ngIf="showConfigureArticleButton"
            [matMenuTriggerFor]="configureArticle"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
        </mat-toolbar>
      </p>
      <div *ngIf="editMode" class="article-edit-mode">
        <nz-spin *ngIf="loading == true" nzTip="Loading..."></nz-spin>
        <p style="color: red">
          <b
            ><i
              >[Edit mode]: In this mode, you can easily insert, remove content
              or image of your article</i
            >
          </b>
        </p>
        <div *ngIf="loading == false">
          <div
            *ngFor="let content of ContentInParts; let i = index"
            class="container-article-detail"
          >
            <button
              mat-raised-button
              color="accent"
              *ngIf="content.partContent != null"
              (click)="removeContentInpart(i)"
            >
              <mat-icon>remove</mat-icon>Remove
            </button>
            <ckeditor
              type="text"
              [ngModelOptions]="{ standalone: true }"
              [editor]="Editor"
              tagName="textarea"
              [config]="{
                toolbar: [
                  'heading',
                  '|',
                  'bold',
                  'italic',
                  'bulletedList',
                  'numberedList',
                  'blockQuote'
                ]
              }"
              data="{{ content.partContent }}"
              (change)="saveContentEditMode($event, i)"
              *ngIf="content.partContent != null"
            >
            </ckeditor>
            <!--Button remove Image-->
            <button
              mat-raised-button
              color="accent"
              *ngIf="content.images != null"
              (click)="removeImageInpart(i)"
            >
              <mat-icon>remove</mat-icon>Remove
            </button>
            <!--Button remove Image-->
            <div *ngIf="content.images != null">
              <input
                type="file"
                class="choose-file"
                style="position: fixed"
                accept="image/x-png,image/gif,image/jpeg"
                (change)="showPreviewImage($event, i)"
              />
            </div>
            <img
              src="{{ content.images }}"
              style="border-radius: 10px"
              width="100%"
            />
          </div>
          <button
            class="btn-insert-content"
            mat-raised-button
            color="primary"
            (click)="InsertMoreContent()"
          >
            <mat-icon>playlist_add</mat-icon> Insert content
          </button>
        </div>
      </div>

      <div *ngIf="editMode == false">
        <div
          *ngFor="let content of ContentInParts"
          class="container-article-detail"
        >
          <br />
          <p [innerHtml]="content.partContent"></p>
          <img
            src="{{ content.images }}"
            style="border-radius: 10px"
            width="100%"
          />
          <br />
        </div>
      </div>
      <!-- Phan noi dung trong article ở trạng thái view mode -->

      <mat-toolbar>
        <div style="display: flex">
          <button mat-button><mat-icon>favorite</mat-icon> Like</button>
          <button mat-button><mat-icon>share</mat-icon> Share</button>
        </div>
        <span class="spacer"></span>
        <div *ngIf="editMode" class="btn-group-edit-mode">
          <button mat-raised-button color="primary" (click)="updateContent()">
            <mat-icon>save</mat-icon> Save
          </button>
          <button mat-raised-button color="accent" (click)="cancelEditMode()">
            Cancel
          </button>
        </div>
      </mat-toolbar>
    </mat-card>
    <div style="margin-top: 2rem"></div>
    <app-user-comment [idArticle]="idArticle"></app-user-comment>
    <br />
    <!-- Hiển thị những bài viết liên quan -->
    <app-details-post-related-article
      [IdArticle]="idArticle"
      (stateViewArticle)="showDetailPost($event)"
    ></app-details-post-related-article>
    <!-- Hiển thị những bài viết liên quan -->
  </div>
</div>
