<div class="detail-bullentin-board-container">
  <div class="detai__bullentin-board">
    <button
      mat-raised-button
      class="button-go-to-previous"
      (click)="loadPreviousFacts()"
    >
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>

    <div class="image-content">
      <img *ngIf="DetailFact != null" [src]="DetailFact.imgUrl" />
    </div>

    <button
      mat-raised-button
      class="button-go-to-next"
      (click)="loadNextFacts()"
    >
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
</div>
