<nz-spin class="loader" *ngIf="InforUser === null" nzTip="Loading..."></nz-spin>
<div class="container">
  <div class="stepper">
    <button
      mat-fab
      class="button-go-to-previous justify-content-center"
      (click)="loadPreviousFacts()"
    >
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
  </div>

  <div class="bulletin__board">
    <div class="bulletin__board-author-information">
      <img class="author__img" [src]="InforUser.userAvatar" />
      <div class="bulletin__board-author-information-detail">
        <p style="font-size: 19px">
          <b> {{ InforUser.name }}</b>
        </p>
        <p>
          {{ DetailFact.title }}
        </p>
      </div>
    </div>

    <div class="bulletin__board-content">
      <img
        class="bulletin__board-content-img"
        *ngIf="DetailFact != null"
        [src]="DetailFact.imgUrl"
      />
    </div>
  </div>

  <div class="stepper">
    <button mat-fab class="button-go-to-next" (click)="loadNextFacts()">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
</div>
