.container{
    width: 1467px;
    padding: 15px;
  }
  table {
    width: 1400px;
    border-collapse: collapse;
  }
.article-being-report-checkbox{
  text-align: left;
  width:  50px;
  padding: 5px;
  background-color: #4993b8;

}
  table tr .article-being-report-normal-row{
    text-align: left;
    height: 50px;
    width:  200px;
    background-color: #4993b8;

  }
  table tr{
    height: 80px;
    min-height: 80px;
  }
  table tr:hover{
    color: gray;
    cursor: pointer;
  }

  table th td{
    border-collapse: collapse;
    border-bottom: 0px solid #fff;

  }
  table tr td{
    margin-left: 50px;
    min-height: 100px;

  }
  table tr td p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
 
  table tr  mat-expansion-panel {
    width: 100%;
  }
  mat-expansion-panel-header{
    height: 36px;
  }
  .Main-Title-Table{
    font-size: 20px;
  }
  .button-action-on-table-article{
    margin-right: 5px;
  }
  mat-icon{
    font-size: 18px;
  }