<app-header></app-header>
<div *ngIf="disableCreateArticle">
  <app-dialog-login-before-create-article></app-dialog-login-before-create-article>
</div>
<div class="container" *ngIf="!disableCreateArticle">
  <mat-horizontal-stepper #stepper *ngIf="isLoaded">
    <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill out your content</ng-template>
        <div
          class="content-article"
          *ngFor="let content of Article.content; let i = index"
        >
          <div class="Editor-Content" *ngIf="content.partContent !== undefined">
            <button
              class="btn-remove-editor"
              mat-button
              color="warn"
              (click)="removeTextEditor(i)"
            >
              <mat-icon>remove_circle_outline</mat-icon>
            </button>
            <ckeditor
              type="text"
              (change)="saveEditor($event, i)"
              [ngModelOptions]="{ standalone: true }"
              [editor]="Editor"
              tagName="textarea"
              [config]="{
                toolbar: [
                  'heading',
                  '|',
                  'bold',
                  'italic',
                  'bulletedList',
                  'numberedList',
                  'blockQuote'
                ]
              }"
            ></ckeditor>
          </div>
          <br />
          <input
            type="file"
            class="choose"
            (change)="showPreviewImage($event, i)"
          />
          <br />
          <div class="Image-Content" *ngIf="content.images">
            <button class="btn-remove-image" mat-button color="warn">
              <mat-icon>remove_circle_outline</mat-icon>
            </button>
            <img
              [src]="content.images"
              class="image-content-img"
              height="100%"
              width="100%"
            />
          </div>
          <br />
        </div>
        <br />
        <br />
        <button
          mat-raised-button
          color="primary"
          (click)="addMoreContent()"
          style="margin-left: 47%"
        >
          <mat-icon>add</mat-icon>Content
        </button>
      </form>
    </mat-step>

    <!-- Tittle Image and Description -->
    <mat-step
      [stepControl]="secondFormGroup"
      errorMessage="Title for article is required"
    >
      <form [formGroup]="secondFormGroup" class="secondFormGroup">
        <ng-template matStepLabel>Fill out display content</ng-template>
        <img [src]="MainImage" width="500px" height="400px" />
        <input
          type="file"
          class="choose-file"
          (change)="showPreviewMainImage($event)"
        />
        <br />
        <div class="tiny-article-right">
          <mat-form-field appearance="fill">
            <mat-label>Fill out title</mat-label>
            <input
              matInput
              placeholder="Ex: [SS]:New technology..."
              (change)="saveTitleArticle($event.target.value)"
            />
            <mat-icon matSuffix>title</mat-icon>
          </mat-form-field>
          <br />
          <textarea
            placeholder="Description for article..."
            (change)="saveDescriptionArticle($event.target.value)"
          ></textarea>
          <br />
        </div>
      </form>
      <br />
      <br />
    </mat-step>
    <!-- Tittle Image and Description -->
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <!-- Hashtag -->
      <mat-form-field class="example-chip-list">
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip
            *ngFor="let hashTag of hashTags"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(hashTag)"
          >
            {{ hashTag.name }}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="Hashtag for this article..."
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)"
          />
        </mat-chip-list>
      </mat-form-field>

      <!-- Hashtag -->
      <button mat-raised-button (click)="submitArticle()">
        <mat-icon>check_circle_outline</mat-icon>Submit article
      </button>
    </mat-step>
  </mat-horizontal-stepper>
  <div *ngIf="!isLoaded">
    <img src="../../assets/images/loading.gif" width="100%" />
  </div>
</div>
