<div class="container-dashboard">
    <div class="three-mini-upper-dashboard">
        <mat-card>
            <h2>All Article</h2>
            <p>Number: 12 000</p>
        </mat-card>
        <mat-card>
            <h2>Viewer </h2>
            <p> 12 000</p>
        </mat-card>
        <mat-card>
            <h2>Visit Today </h2>
            <p> 2 000</p>
        </mat-card>
        <mat-card>
            <h2>User In System </h2>
            <p> 2 000</p>
        </mat-card>
    </div>
    <div class="body-dashboard">
        <mat-card></mat-card>
    </div>
</div>
