.container-dashboard{
    width: 1492px;
}
.three-mini-upper-dashboard{
    display: block;
}
.three-mini-upper-dashboard mat-card{
    width: 250px;
    margin: 50px;
    padding: 10px; 
}
.body-dashboard{
    padding: 10px; 
    display: flex;
}
.Dashboard-All-Article{
    display: flex;
}
.Dashboard-Viewer{
    display: flex;
}
.Dashboard-Vist-Today{
    display: flex;
}
.Dashboard-New-User-Register{
    display: flex;
}
.Line-Graph-ChartJS{
    width: 764px;
    margin-left: 40px;
}
.Circle-ChartJs{
    width: 450px;
    margin-left: 100px;
    height: 270px;
}