.container-dashboard{
    width: 1492px;
}
.three-mini-upper-dashboard{
    display: flex;
}
.three-mini-upper-dashboard mat-card{
    width: 250px;
    margin: 50px;
    padding: 10px; 
}
.body-dashboard{
    margin: 50px;
    padding: 10px; 
}