<div class="related__article" *ngIf="allRelatedArticle">
  <div *ngFor="let item of allRelatedArticle">
    <mat-card
      class="related__article-content"
      *ngIf="item"
      [routerLink]="['/detail', item._id]"
      (click)="viewDetailArticle(item._id)"
    >
      <img
        src="{{ item.AvatarPost }}"
        (click)="viewDetailArticle(item._id)"
        class="content__img"
      />
      <h3 class="content__title">
        <b>{{ item.tittle }}</b>
      </h3>
      <p class="content__description">{{ item.description }}</p>
    </mat-card>
  </div>
</div>
