.related__article {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
  height: auto;
  &-content {
    width: 100%;
    height: auto;

    .content__img {
      cursor: pointer;
      width: 100%;
    }

    .content__title {
      cursor: pointer;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      -webkit-box-orient: vertical;
      width: 100%;
    }

    .content__description {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      -webkit-box-orient: vertical;
      width: 100%;
    }
  }
}
