

.related-article mat-card:hover{
    cursor: pointer;
    background-color: #17a2b8;
  }
  .related-article mat-card{
    background-color: white;
    width: 276px;
    margin-right:12px;
    margin-top:10px;
    height:250px;
    margin-bottom: 50px;
  }
  .title-ralated{
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical; 
    height: 55px;
  }
  .description-related{
    overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 3; /* number of lines to show */
-webkit-box-orient: vertical;width: 100%;
  }