<div class="login-form-container">
        <div class="container-form">
         <div>
             <h3><b>Login now</b></h3>
            <form class="login-form">
                <mat-form-field class="input-field">
                    <mat-label>User account</mat-label>
                    <input [(ngModel)]="email" autocomplete="off" [ngModelOptions]="{standalone: true}" matInput>
                </mat-form-field>
                <mat-form-field class="input-field">
                    <mat-label>User password</mat-label>
                    <input (keyup.enter)="submit()" type="password" autocomplete="off" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" matInput>
                </mat-form-field>
            </form>
         </div>
        <div class="group-buttons">
            <div class="register-account">
                <a href="register-account">Don't have an account? Click here!</a>
            </div>
            <div class="basic-login">
                <button mat-raised-button color="primary" style="width: 100%;" (click)="submit()" >Login</button>
            </div>
            <br>
            <div class="social-login">
                <button mat-raised-button (click)="login()" style="width: 50%;">Facebook</button>
                <button mat-raised-button color="primary" style="width: 50%;">Google</button>
            </div>
        </div>
        </div>
</div>
