.container {
  display: block;
  margin: auto;
  width: 100%;
  background-attachment: fixed;
  height: 350px;
}
.post-content-image {
  width: 35%;
  margin-right: 2%;
}
.post-content {
  display: flex;
}
.post:hover {
  cursor: pointer;
}
.post-content-date-posted {
  margin-bottom: 0px;
}
textarea {
  border-style: none;
  overflow: hidden;
}

.post-content-upload-post-button {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 130px;
  width: 80%;
  font-size: 20px;
  background-color: gray;
  height: 50px;
  color: white;
}
.post-content-button-container {
  margin: auto;
  width: 40%;
  height: 30px;
}
.post-content-upload-post-input {
  width: 70%;
  border-radius: 20px;
  border-style: none;
  height: 17px;
  background-color: #cad3c8;
  color: black;
  text-align: center;
  justify-content: center;
}
.post-content-upload-post-input:hover {
  cursor: pointer;
}
.post-content-avatar {
  height: 30px;
  border-radius: 50%;
  border-style: none;
  margin: 3px 10px 4px;
  background-color: #cad3c8;
}
.card-content {
  position: relative;
  display: flex;
  width: 15%;
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
}
.post-content-button-container button {
  width: 80%;
  margin: 1%;
  margin-left: 10%;
  margin-top: 20px;
}
.card-content-image img {
  width: 30%;
  height: 200px;
}

.card-content-image {
  display: flex;
}
.card-content-image p {
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 7em;
  line-height: 1.8em;
}
.popular-card-content mat-card {
  margin-bottom: 10px;
  margin: 1%;
}
.popular-card-content-left {
  margin-left: 10px;
}
.popular-card-content-left p {
  text-overflow: ellipsis;
}

.popular-card-content-right-2-posts {
  width: 80%;
}
mat-icon {
  cursor: pointer;
}
.loader {
  margin-top: 20rem;
  &__article {
    padding-bottom: 20rem;
  }
}
.popular-article {
  display: flex;
  &__img {
    width: 80%;
    &--overflow {
      width: 500px;
      margin: auto;
    }
  }
}
.popular-article h2 {
  font-size: 30px;
}
.popular-article-right {
  margin-left: 3%;
}
.popular-article-right p {
  line-height: 1.6;
}
.popular-article-right a {
  color: #007bff;
}

.popular-article-right a:hover {
  cursor: pointer;
}
.tiny-article:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.popular-article-mat-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.tiny-article-right a {
  color: #007bff;
}
.tiny-article-right a:hover {
  cursor: pointer;
}
.popular-article img:hover {
  cursor: pointer;
}
.popular-article h2:hover {
  cursor: pointer;
}
.article-below-popular {
  display: flex;
  flex-wrap: wrap;
}
.article-below-popular mat-card {
  flex: 1 1 5%;
  width: 25%;
  max-height: 530px;
}

.desciption {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  min-height: 84px;
}

.title-article {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  min-height: 63px;
}
.tiny-article img:hover {
  cursor: pointer;
}
.tiny-article h2:hover {
  cursor: pointer;
}

.paginator {
  position: absolute;
  right: 0;
  padding-right: 1rem;
  padding-bottom: 2rem;
}
