<div class="container">
  <div
    class="post-content-button-container"
    *ngIf="showPostArticle"
    data-aos="fade-down"
  >
    <div
      style="
        background-color: rgb(204, 198, 198);
        height: 40px;
        border-radius: 5px;
        margin-top: 20px;
      "
    >
      <button
        mat-raised-button
        style="background-color: #007bff; color: white"
        (click)="CreateNewArticle()"
      >
        <mat-icon style="font-size: 23px; margin-right: 10px"
          >add_photo_alternate</mat-icon
        >
        Post your article ...
      </button>
    </div>
  </div>
  <br />
  <div class="card-content">
    <div class="popular-card-content">
      <mat-card *ngIf="popularArticle">
        <mat-card-subtitle style="text-align: center">
          <b>The best daily article</b>
        </mat-card-subtitle>
      </mat-card>

      <div class="skeleton__popular-article" *ngIf="!popularArticle">
        <nz-skeleton-element
          nzType="image"
          [nzActive]="true"
        ></nz-skeleton-element>
        <nz-skeleton
          [nzParagraph]="{ rows: 4 }"
          [nzActive]="true"
        ></nz-skeleton>
      </div>

      <mat-card
        data-aos="fade-right"
        data-aos-duration="1000"
        class="popular-article-mat-card"
        *ngIf="popularArticle"
      >
        <div class="popular-article">
          <div class="popular-article__img">
            <img
              class="popular-article__img--overflow"
              src="{{ popularArticle.Article.AvatarPost }}"
              [routerLink]="['/detail', popularArticle.Article._id]"
              routerLinkActive="router-link-active"
            />
          </div>
          <div class="popular-article-right">
            <h2
              class="title-article"
              [routerLink]="['/detail', popularArticle.Article._id]"
              routerLinkActive="router-link-active"
            >
              {{ popularArticle.Article.tittle }}
            </h2>
            <p class="desciption">{{ popularArticle.Article.description }}</p>
            <br />
            <br />
            <h4>
              Author:
              <a (click)="viewAuthorProfile(popularArticle.Article.idUser)">
                {{ popularArticle.userName }}
              </a>
            </h4>
            <label>
              <i> {{ popularArticle.Article.postedOn }} </i>
            </label>
          </div>
        </div>
      </mat-card>
      <mat-card style="text-align: center" *ngIf="popularArticle">
        <mat-card-subtitle>
          <b>All popular article of the day</b>
        </mat-card-subtitle>
      </mat-card>

      <div class="article-below-popular" *ngIf="popularArticle">
        <mat-card class="tiny-article" *ngFor="let article of allArticle">
          <img
            class="tiny-article__img"
            src="{{ article.Article.AvatarPost }}"
            [routerLink]="['/detail', article.Article._id]"
            routerLinkActive="router-link-active"
          />
          <div class="tiny-article__content">
            <h2
              class="title-article"
              [routerLink]="['/detail', article.Article._id]"
              routerLinkActive="router-link-active"
            >
              {{ article.Article.tittle }}
            </h2>
            <p class="description--max-line">
              {{ article.Article.description }}
            </p>
            <h4>
              Author:
              <a (click)="viewAuthorProfile(article.Article.idUser)">
                {{ article.Author }}
              </a>
            </h4>
            <label>
              <i>{{ article.Article.postedOn }}</i>
            </label>
          </div>
        </mat-card>
      </div>

      <app-loader-article
        *ngIf="!allArticle && popularArticle"
        [display]="currentItem"
      ></app-loader-article>

      <mat-toolbar>
        <p *ngIf="popularArticle">
          <i> Developed by: Son Phan - <b>MEAN stack</b> </i>
        </p>
        <span class="spacer"></span>
        <div class="paginator" *ngIf="popularArticle">
          <div class="group-button-paging">
            <button mat-raised-button (click)="previousPage()">Previous</button>
            <button mat-raised-button>{{ page }}</button>
            <button mat-raised-button (click)="nextPage()">Next</button>
          </div>
        </div>
      </mat-toolbar>
    </div>
  </div>
</div>
