.register__container {
  background: url("https://images.pexels.com/photos/1366957/pexels-photo-1366957.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: fixed;
  &--white-background {
    width: 50%;
    margin: auto;
    margin-top: 25vh;
    height: 53vh;
  }

  &-title {
    text-align: center;
  }

  &-input {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &-buttons {
    justify-content: start !important;
  }

  .spacer {
    background-color: white !important;
    flex: 1 1 auto;
  }
}

::ng-deep .mat-grid-tile .mat-figure {
  padding: 0 !important;
  margin: 0 !important;
}
