<div class="register__container">
  <mat-card class="register__container--white-background">
    <div>
      <h2 class="register__container-title">Register Account</h2>
      <form [formGroup]="form">
        <mat-grid-list cols="2" rowHeight="60px">
          <mat-grid-tile>
            <mat-form-field class="register__container-input">
              <input
                matInput
                placeholder="First name"
                formControlName="firstName"
              />
              <mat-error *ngIf="isFieldValid('firstName')">
                <i>Please input first name</i>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="register__container-input">
              <input
                matInput
                placeholder="Last name"
                formControlName="lastName"
              />
              <mat-error *ngIf="isFieldValid('lastName')">
                <i>Please input last name</i>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="register__container-input">
              <input matInput placeholder="Email" formControlName="email" />
              <mat-error *ngIf="isFieldValid('email')">
                <i>Please input email</i>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field class="register__container-input">
              <input matInput placeholder="Phone" formControlName="phone" />
              <mat-error *ngIf="isFieldValid('phone')">
                <i>Please input phone</i>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field class="register__container-input">
              <input
                type="password"
                matInput
                placeholder="Password"
                formControlName="password"
              />
              <mat-error *ngIf="isFieldValid('password')">
                <i>Please input phone</i>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field class="register__container-input">
              <input
                type="password"
                matInput
                placeholder="Confirm password"
                formControlName="passwordConfirm"
              />
              <mat-error *ngIf="isFieldValid('passwordConfirm')">
                <i>Please input password confirm correctly</i>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="12">
          <mat-grid-tile [colspan]="12">
            <mat-form-field class="register__container-input">
              <input matInput placeholder="Address" formControlName="address" />
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="12">
            <mat-checkbox
              class="register__container-input"
              formControlName="isAgreeTerm"
            >
              Agree with the term and conditions
            </mat-checkbox>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="12" class="register__container-input">
            <span class="spacer"></span>
            <button type="submit" mat-raised-button (click)="onSubmit()">
              Submit
            </button>
            <button type="reset" mat-button><u>Reset</u></button>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
    </div>
  </mat-card>
</div>
