
<div class="container">
    
    <div class="post-content-button-container">
        <button mat-raised-button (click)="openDialog()"><mat-icon style="font-size: 23px;" >add_photo_alternate</mat-icon> Post something on</button>
    </div>

    <br>
    <div class="card-content">
        <div class="popular-card-content">
            <mat-card *ngFor="let article of allArticle">
                <div class="card-content-image">
                    <img src={{article.AvatarPost}}>
                    <div class="popular-card-content-left">
                        <h2>{{article.tittle}}</h2>
                        <p>{{article.description}}</p>
                        <div class="footer-tool" style="bottom: 15px;position: absolute;width: 100%;">
                            <mat-icon style="font-size: 20px;">favorite</mat-icon>
                            <mat-icon style="font-size: 20px;"> comment</mat-icon>
                            <mat-icon style="font-size: 20px;">share</mat-icon>
                            <button mat-stroked-button style="margin-left: 45%;" (click)="showDetailPost(article._id)">Read more...</button>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
        </div>
    
</div>
 