
<div class="container">
    <br>
    <div class="post-content-button-container" (click)="openDialog()">
        <button mat-raised-button  class="post-content-upload-post-button" ><button class="post-content-avatar">Ava</button>
            <input disabled class="post-content-upload-post-input" value="Hey Son ! What are you thinking...?"></button>
    </div>
    <br>
    <mat-card (click)="showDetailPost()" class="post">
        <mat-card-content>
            <div class="post-content">
                <div class="post-content-image">
                    <img src="../../assets/images/landscape.jpg">
                </div>
                <div class="post-content-content">
                    <h2>“Phụ huynh côn đồ” vào trường học!</h2>
                    <textarea rows="5" cols="66" disabled>Tại cuộc họp báo chiều 2/10, trả lời câu hỏi về vụ bắt giữ khẩn cấp đối tượng được cho là vu khống lãnh đạo ở Đắk Lắk, Thiếu tướng Tô Ân Xô (Chánh văn phòng, người phát ngôn Bộ Công an) cho biết, theo báo cáo của công an tỉnh này, sau khi tiếp nhận nguồn tin tội phạm, cơ quan Cảnh sát điều tra đã tổ chức xác minh.</textarea>
                    <mat-card-subtitle><i>10/02/2020</i></mat-card-subtitle>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <br>
    <mat-card (click)="showDetailPost()" class="post">
        <mat-card-content>
            <div class="post-content">
                <div class="post-content-image">
                    <img src="../../assets/images/landscape.jpg">
                </div>
                <div class="post-content-content">
                    <h2>“Phụ huynh côn đồ” vào trường học!</h2>
                    <textarea rows="5" cols="66" disabled>Tại cuộc họp báo chiều 2/10, trả lời câu hỏi về vụ bắt giữ khẩn cấp đối tượng được cho là vu khống lãnh đạo ở Đắk Lắk, Thiếu tướng Tô Ân Xô (Chánh văn phòng, người phát ngôn Bộ Công an) cho biết, theo báo cáo của công an tỉnh này, sau khi tiếp nhận nguồn tin tội phạm, cơ quan Cảnh sát điều tra đã tổ chức xác minh.</textarea>
                    <mat-card-subtitle><i>10/02/2020</i></mat-card-subtitle>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <br>
    <mat-card (click)="showDetailPost()" class="post">
        <mat-card-content>
            <div class="post-content">
                <div class="post-content-image">
                    <img src="../../assets/images/landscape.jpg">
                </div>
                <div class="post-content-content">
                    <h2>“Phụ huynh côn đồ” vào trường học!</h2>
                    <textarea rows="5" cols="66" disabled>Tại cuộc họp báo chiều 2/10, trả lời câu hỏi về vụ bắt giữ khẩn cấp đối tượng được cho là vu khống lãnh đạo ở Đắk Lắk, Thiếu tướng Tô Ân Xô (Chánh văn phòng, người phát ngôn Bộ Công an) cho biết, theo báo cáo của công an tỉnh này, sau khi tiếp nhận nguồn tin tội phạm, cơ quan Cảnh sát điều tra đã tổ chức xác minh.</textarea>
                    <mat-card-subtitle><i>10/02/2020</i></mat-card-subtitle>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <br>
    <mat-card (click)="showDetailPost()" class="post">
        <mat-card-content>
            <div class="post-content">
                <div class="post-content-image">
                    <img src="../../assets/images/landscape.jpg">
                </div>
                <div class="post-content-content">
                    <h2>“Phụ huynh côn đồ” vào trường học!</h2>
                    <textarea rows="5" cols="66" disabled>Tại cuộc họp báo chiều 2/10, trả lời câu hỏi về vụ bắt giữ khẩn cấp đối tượng được cho là vu khống lãnh đạo ở Đắk Lắk, Thiếu tướng Tô Ân Xô (Chánh văn phòng, người phát ngôn Bộ Công an) cho biết, theo báo cáo của công an tỉnh này, sau khi tiếp nhận nguồn tin tội phạm, cơ quan Cảnh sát điều tra đã tổ chức xác minh.</textarea>
                    <mat-card-subtitle><i>10/02/2020</i></mat-card-subtitle>
                    
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>