<div class="container">
    <div class="post-content-header">
        <img class="post-content-header-image" src="../../assets/images/landscape.jpg">
        <h4>Hello, <u><b>Phan Sơn</b></u></h4>
    </div>
    <br>
    <div class="post-content-content">
        <label><b>Fill in</b></label>
        <mat-form-field class="example-full-width">
            <mat-label>Your post title...</mat-label>
            <input matInput >
          </mat-form-field>
        <ckeditor class="post-content-content-textarea" [editor]="Editor" ></ckeditor>
    </div>
    <div class="post-content-content-footer">
     </div>
     <br>
    <button color="primary" class="post-content-content-button" mat-raised-button>Upload</button>
</div>
