.app-bulletin-board {
  width: 100%;
}
.example-container {
  width: 100%;
  height: 100%;
}

mat-drawer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;
  overflow-x: hidden;
}
.button-toggle-side-menu {
  margin-top: 10px;
  position: absolute;
}

.drawer-content-showup {
  width: 300px;
  margin: auto;
}

.menu-button-action {
  width: 100%;
}
.app-index-post {
  width: 100%;
}
.app-header {
  width: 100%;
}
.group-button-menu button {
  text-align: left;
  width: 300px;
  font-family: "Segoe UI", Roboto;
  border-radius: 0px;
  height: 50px;
  font-size: 20px;
}
.group-button-menu button:hover {
  background-color: black;
  color: white;
}

.example-container {
  width: 100%;
  height: 100%;
}

mat-drawer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;
  overflow-x: hidden;
}
.button-toggle-side-menu {
  margin-top: 10px;
  position: absolute;
}
.drawer-content-showup {
  width: 300px;
  margin: auto;
}

.menu-button-action {
  width: 100%;
}
.app-index-post {
  width: 100%;
}
.app-header {
  width: 100%;
}
.group-button-menu button {
  text-align: left;
  width: 300px;
  font-family: "Segoe UI", Roboto;
  border-radius: 0px;
  height: 50px;
  font-size: 20px;
}
.group-button-menu button:hover {
  background-color: black;
  color: white;
}

.container {
  position: relative;
  margin-top: 0px;
  display: flex;
  width: 100%;
  height: 60px;
  box-shadow: 5px 3px 5px #888888;
}
.part-three {
  width: 20%;
  display: flex;
  align-items: center;
}
.mat-icon {
  font-size: 30px;
  margin-right: 30px;
}
.icon-group {
  margin-left: 150px;
}
.icon-group button {
  margin-left: 30px;
}
.mat-icon:hover {
  cursor: pointer;
}
