<mat-drawer-container class="example-container" [hasBackdrop]="true" >
  <!-- Side navigation -->
    <mat-drawer #drawer [mode]="side" class="drawer-content-showup">
      <img src="https://images.pexels.com/photos/1779487/pexels-photo-1779487.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" width="300px">
        <div class="group-button-menu">
          <button mat-button  (click)="gotoPostArticlePage()" >
            <mat-icon>keyboard_arrow_right</mat-icon>
            Post Article</button>
          <p>
            <button mat-button ><mat-icon>keyboard_arrow_right</mat-icon>
               All Hashtag</button>
            <button mat-button ><mat-icon>keyboard_arrow_right</mat-icon>           Discorevy</button>
          </p>
        </div>
    </mat-drawer>
    <!-- Content index screen -->
    <mat-drawer-content>
      <div class="app-header"> 
        <div class="container">
          <div class="part-one">
                <!-- Hiển thị logo con -->
          <a href="/index"> <img src="../../assets/images/logo.png" style="padding: 10px ; margin-left: 60px;" width="150px" ></a>
          </div>
          <app-search-article></app-search-article>
          <div class="part-three">
            <div class="icon-group">
              <button mat-raised-button *ngIf="!showProfile" routerLink="/login" style="width: 100px;">
                Sign in
                <mat-icon  inline=true> keyboard_tab</mat-icon>
              </button>
              <button *ngIf="showProfile"  mat-icon-button [matMenuTriggerFor]="notification" aria-label="Example icon-button with a menu">
                <mat-icon style="margin:auto">notifications_active</mat-icon>
              </button>
              <mat-menu #notification="matMenu">
                <button mat-menu-item>
                 <label>abc@gmail đã comment vào bài viết...</label>
                </button>
              </mat-menu>
              <button *ngIf="showProfile"  mat-icon-button [matMenuTriggerFor]="profile" aria-label="Example icon-button with a menu">
                <mat-icon style="margin:auto">person_pin</mat-icon>
              </button>
              <mat-menu #profile="matMenu">
                <p style="padding: 10px;">Hello <b> {{userName}}</b></p>
                <button mat-raised-button>
                  <img  *ngIf="avatarUrl" src="{{avatarUrl}}" width="150px">
                </button>
                <button mat-menu-item (click)="viewProfile(idUser)">
                  <mat-icon>perm_identity</mat-icon>
                  <span>Profile</span>
                </button>
                <button mat-menu-item >
                  <mat-icon>settings</mat-icon>
                  <span>Setting</span>
                </button>
                <button mat-menu-item  routerLink="/login">
                  <mat-icon>arrow_forward</mat-icon>
                  <span>Log out</span>
                </button>
              </mat-menu>
            </div>
          </div>
        </div>
      </div>
      <!-- Daily Bullentin Board  -->
      <app-bullentin-board-index *ngIf="this.currentComponent=='Index-Post-InProcess'" ></app-bullentin-board-index>
      <!-- Daily Bullentin Board  -->
      <div class="app-index-post">
        <app-index-post *ngIf="this.currentComponent=='Index-Post-InProcess'" (setStateIndexPost)="getStateComponent($event)"></app-index-post>
        <app-details-post *ngIf="this.currentComponent=='Detail-Post'" (setStateDetailPost)="getStateComponent($event)"></app-details-post>
        <app-user-profile *ngIf="this.currentComponent=='User-Profile'" (setStateUserProfile)="getStateComponent($event)"></app-user-profile>
      </div>
      <button mat-button (click)="drawer.toggle()" class="button-toggle-side-menu" ><mat-icon>menu</mat-icon>
      </button>
    </mat-drawer-content>
  </mat-drawer-container>

