<mat-drawer-container class="example-container" [hasBackdrop]="true" >
 
  
  <!-- Side navigation -->
    <mat-drawer #drawer [mode]="side" class="drawer-content-showup">
      <img src="https://images.pexels.com/photos/1779487/pexels-photo-1779487.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" width="300px">
        <div class="group-button-menu">
          <button mat-button  (click)="gotoPostArticlePage()" >
            <mat-icon>keyboard_arrow_right</mat-icon>
            Post Article</button>
          <p>
            <button mat-button ><mat-icon>keyboard_arrow_right</mat-icon>
               All Hashtag</button>
            <button mat-button ><mat-icon>keyboard_arrow_right</mat-icon>           Discorevy</button>
          </p>
        </div>
    </mat-drawer>
    <!-- Content index screen -->
    <mat-drawer-content>
      <div class="app-header"> 
        <app-header></app-header>
      </div>
      <!-- Daily Bullentin Board  -->
      <app-bullentin-board-index ></app-bullentin-board-index>
      <!-- Daily Bullentin Board  -->
      <div class="app-index-post">
        <app-index-post *ngIf="this.currentComponent=='Index-Post-InProcess'" (setStateIndexPost)="getStateComponent($event)"></app-index-post>
        <app-details-post *ngIf="this.currentComponent=='Detail-Post'" (setStateDetailPost)="getStateComponent($event)"></app-details-post>
        <app-user-profile *ngIf="this.currentComponent=='User-Profile'" (setStateUserProfile)="getStateComponent($event)"></app-user-profile>
      </div>
      <button mat-button (click)="drawer.toggle()" class="button-toggle-side-menu" ><mat-icon>menu</mat-icon>
      </button>
    </mat-drawer-content>
  </mat-drawer-container>

