<nz-card>
  <div nz-row>
    <div nz-col nzSpan="4">
      <img
        src="https://res.cloudinary.com/dsnt8hyn6/image/upload/v1628567162/logo_xswwv4.png"
        width="150px"
        (click)="redirectLogin()"
        class="logo"
      />
    </div>

    <div nz-col nzSpan="18">
      <app-search-article></app-search-article>
    </div>
    <div nz-col nzSpan="2">
      <button
        mat-raised-button
        *ngIf="!showProfile"
        routerLink="/login"
        style="width: 100px"
      >
        Sign in
      </button>

      <button
        *ngIf="showProfile"
        mat-icon-button
        [matMenuTriggerFor]="notification"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon style="margin: auto">notifications_active</mat-icon>
      </button>
      <mat-menu #notification="matMenu">
        <button mat-menu-item>
          <label>abc@gmail đã comment vào bài viết...</label>
        </button>
      </mat-menu>
      <button
        *ngIf="showProfile"
        mat-icon-button
        [matMenuTriggerFor]="profile"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon style="margin: auto">person_pin</mat-icon>
      </button>
      <mat-menu #profile="matMenu">
        <p style="padding: 10px">
          Hello <b> {{ userName }}</b>
        </p>
        <button mat-raised-button>
          <img *ngIf="avatarUrl" src="{{ avatarUrl }}" width="150px" />
        </button>
        <button mat-menu-item (click)="viewProfile(idUser)">
          <mat-icon>perm_identity</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Setting</span>
        </button>
        <button mat-menu-item routerLink="/login">
          <mat-icon>arrow_forward</mat-icon>
          <span>Log out</span>
        </button>
      </mat-menu>
    </div>
  </div>
</nz-card>
