.detail-bullentin-board-post-comments-container{
    margin-left: 10px ;
}
.infor-user{
    display: block;
}
.infor-user img{
    border-radius: 50%;
    margin-right: 20px;
    height:50px;
    width: 50px;
}
