<mat-drawer-container class="container" [hasBackdrop]="hasBackdrop">
    <mat-drawer class="navigate-menu-bar"  #drawer [mode]="this.mode">
        <img src="https://images.pexels.com/photos/1779487/pexels-photo-1779487.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" width="200px"> 
        <button class="btn-side-navigate" mat-raised-button (click)="openAdminDashboard()" >Dashboard <mat-icon>keyboard_arrow_right</mat-icon></button>
        <button class="btn-side-navigate" mat-raised-button (click)="openAllArticles()">All Articles <mat-icon>keyboard_arrow_right</mat-icon></button>
        <button class="btn-side-navigate" mat-raised-button (click)="openArticlesReported()" >Articles Reported <mat-icon>keyboard_arrow_right</mat-icon></button>
    </mat-drawer>
    <mat-drawer-content>    
      <div class="header-admin">
        <button class="btn-toggle-sidebav" mat-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon>
        </button>
        <app-search-article></app-search-article>
       
       
        <button class="btn-profile-admin"  mat-icon-button [matMenuTriggerFor]="profile" aria-label="Example icon-button with a menu">
          <mat-icon style="margin:auto;font-size: 35px;">person_pin</mat-icon>
        </button>
        <mat-menu #profile="matMenu">
          <p style="padding: 10px;">Hello<b> Admin</b></p>
          <button mat-raised-button>
            <img  src="https://scontent.fsgn5-5.fna.fbcdn.net/v/t1.0-1/p200x200/124932561_1689823464532336_4072302693366354423_o.jpg?_nc_cat=108&ccb=2&_nc_sid=7206a8&_nc_ohc=jWJX533-MEoAX_u0WyG&_nc_ht=scontent.fsgn5-5.fna&tp=6&oh=ffa92bc90dacf925e3f431dc7cc1345f&oe=5FE90A1A" width="150px">
          </button>
          <button mat-menu-item>
            <mat-icon>perm_identity</mat-icon>
            <span>Profile</span>
          </button>
          <button mat-menu-item >
            <mat-icon>settings</mat-icon>
            <span>Setting</span>
          </button>
          <button mat-menu-item  routerLink="/login">
            <mat-icon>arrow_forward</mat-icon>
            <span>Log out</span>
          </button>
        </mat-menu>
      </div>
      <div class="container-cms">
        <app-dash-board *ngIf="stateUICMS=='Dashboard'" (showDashBoard)="getStateAdmin($event)" ></app-dash-board>
        <app-admin-all-articles *ngIf="stateUICMS=='AllArticles'"></app-admin-all-articles>
        <app-admin-articles-reported *ngIf="stateUICMS=='ArticlesReported'"></app-admin-articles-reported>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
  