<mat-drawer-container class="container" [hasBackdrop]="hasBackdrop">
    <mat-drawer class="navigate-menu-bar"  #drawer [mode]="this.mode">
        <img src="https://images.pexels.com/photos/1779487/pexels-photo-1779487.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" width="200px"> 
        <button class="btn-side-navigate" mat-raised-button (click)="openAdminDashboard()" >Dashboard <mat-icon>keyboard_arrow_right</mat-icon></button>
        <button class="btn-side-navigate" mat-raised-button (click)="openAllArticles()">All Articles <mat-icon>keyboard_arrow_right</mat-icon></button>
        <button class="btn-side-navigate" mat-raised-button (click)="openArticlesReported" >Articles Reported <mat-icon>keyboard_arrow_right</mat-icon></button>
    </mat-drawer>
    <mat-drawer-content>    
      <div class="header-admin">
        <button class="btn-toggle-sidebav" mat-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon>
        </button>
        <app-search-article></app-search-article>
        <button class="btn-profile-admin" mat-button><mat-icon>account_circle</mat-icon></button>
      </div>
      <div class="container-cms">
        <app-dash-board *ngIf="stateUICMS=='Dashboard'" (showDashBoard)="getStateAdmin($event)" ></app-dash-board>
        <app-admin-all-articles *ngIf="stateUICMS=='AllArticles'"></app-admin-all-articles>
        <app-admin-articles-reported *ngIf="stateUICMS=='ArticlesReported'"></app-admin-articles-reported>
      </div>
      
    </mat-drawer-content>
  </mat-drawer-container>
  