.container{
    max-width:1166px ;
    margin-left: 158px;
    margin-top: 50px;
    overflow-x: scroll;

}
.item-daily-bullentin-board{
    width: 100px;
    height: 150px;
    min-width: 90px;
    background: url(../../assets/images/blur_daily_bullenboard.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
    overflow: hidden; 
    border-radius: 10px;
     
}
.item-daily-bullentin-board img{
   width: 330px;
   margin: 0 auto;
   position: absolute;
   top: 0%;
   left: 0%;
   display: block;
   border-radius: 5px;
}
.item-daily-bullentin-board img:hover{
   transition: all .4s ease-in-out;
   transform: scale(1.5); }
.item-daily-bullentin-board button{
    position: absolute;
    margin-top: 50px;
    width: 50px;
    margin-left: 10px;
    color: white;
    z-index: 1;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4);
}
.item-daily-bullentin-board label{
    color: white;
    position: absolute;
    margin-top: 100px;
    width: 100px;
    margin-left: 10px;
    font-size: 17px;
    color: white;
}
.all-item-daily-bullentin-board{
    white-space:pre;
    display: flex;
    width: 1166px;
}
.all-item-daily-bullentin-board:hover{
    cursor: pointer;
}
.all-item-daily-bullentin-board label:hover{
    cursor: pointer;
}