<div class="bullentin-board-create-container">
  <mat-card>
    <mat-card-title> Create new Fact </mat-card-title>
    <mat-card-subtitle>
      Remember: Title's at least 10 character ^^
    </mat-card-subtitle>
    <hr />
    <mat-card-content>
      <div class="bullentin-board-create-container-content">
        <div class="bullentin-board-create-container-content-author-info">
          <img
            src="../../../../assets/images/default-image.jpg"
            width="60px"
            height="60px"
          />
          <p>
            Hey <b>{{ userName }}</b
            >, what are you thinking off?
          </p>
        </div>
        <form class="bullentin-board-create-container-content-title">
          <mat-form-field class="example-full-width">
            <mat-label>Put your title right here</mat-label>
            <input
              type="text"
              matInput
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="title"
              maxlength="256"
            />
          </mat-form-field>
        </form>

        <div class="bullentin-board-create-container-content-insert-image">
          <label>Insert your image</label>
          <input
            class="choose"
            (change)="showPreviewImage($event)"
            type="file"
          />
        </div>
        <br />
        <div class="Image-Content" *ngIf="images">
          <img
            [src]="images"
            class="image-content-img"
            height="100%"
            width="100%"
          />
        </div>
      </div>
      <button mat-raised-button class="btn-grad" (click)="submit()">
        Upload
      </button>
    </mat-card-content>
  </mat-card>
</div>
