.bullentin-board-create-container {
  width: 500px;
  height: auto;
  max-height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.bullentin-board-create-container-content textarea {
  border-width: 0px;
  z-index: 0;
}
.choose::-webkit-file-upload-button {
  color: white;
  display: inline-block;
  background: rgb(167, 162, 162);
  border: none;
  padding: 7px 15px;
  font-weight: 700;
  border-radius: 3px;
  white-space: nowrap;
  cursor: pointer;
  font-size: 10pt;
  border-radius: 15px;
  margin-left: 76px;
  height: 30px;
}
.bullentin-board-create-container-content-insert-image {
  border-radius: 5px;
  background-color: rgb(126, 119, 119);
  padding: 8px;
  color: white;
}
.bullentin-board-create-container-content-title {
  width: 470px;
}
.example-full-width {
  width: 100%;
}
.bullentin-board-create-container-content-author-info {
  display: flex;
}

.bullentin-board-create-container-content-author-info img {
  border-radius: 50%;
}
.bullentin-board-create-container-content-author-info p {
  padding: 20px;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #1fa2ff 0%,
    #12d8fa 51%,
    #1fa2ff 100%
  );
}
.btn-grad {
  margin-top: 10px;
  padding: 8px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  width: 469px;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
